include ../mixins/link.pug
header
    +link("#","logo")
        img(src="./img/logo.png")
    nav
        ul
            +link("lol") привет
            li лол лох 12321
            li лол 2
            li лол 3
