@import "../../node_modules/normalize.css/normalize.css";
@import "../mixins/link.scss";

body {
  color: red;

  header {
    background-color: black;
    color: green;
    .logo{
      height: 50px;
      display: block;
      img{
        display: block;
        height: 100%;
      }
    }
  }
}